{{> head}}

    <body>
        <div id="login">
            <form id="form">
                {{PGTXT_LOGIN_USERNAME}} <input name="username" type="text" placeholder="{{PGTXT_LOGIN_USERNAME_PLC}}">
                <br><br>
                {{PGTXT_LOGIN_PASSWORD}} <input name="password" type="password" placeholder="{{PGTXT_LOGIN_PASSWORD_PLC}}">
                </form>
            <input type="button" value="{{PG_LOGIN}}" onClick="submit()">
        </div>

        <script type="text/javascript">
            function submit() {
                var responseMessage = document.createElement('span');
                $.post("/api/login", $("#form").serializeObject(), function(data) {
                    if (data == "success") {
                        window.location.replace("/")
                    } else {
                        responseMessage.innerHTML = data;
                        $("span").hide();
                        $("#login").append(responseMessage);
                    }
                });
            }
        </script>
    </body>

{{> foot}}
