{{> head}}

    <body>
        <div id="signup">
            <form id="form">
                {{PGTXT_SIGNUP_USERNAME}} <input name="username" type="text" placeholder="{{PGTXT_SIGNUP_USERNAME_PLC}}">
                <br><br>
                {{PGTXT_SIGNUP_PASSWORD}} <input name="password" type="password" placeholder="{{PGTXT_SIGNUP_PASSWORD_PLC}}">
                <br>
                {{PGTXT_SIGNUP_CONPASSWORD}} <input name="confirmpass" type="password" placeholder="{{PGTXT_SIGNUP_CONPASSWORD_PLC}}">
                <br><br>
                {{PGTXT_SIGNUP_EMAIL}} <input name="email" type="text" placeholder="{{PGTXT_SIGNUP_EMAIL_PLC}}">
                <br>
                {{PGTXT_SIGNUP_CONEMAIL}} <input name="confirmemail" type="text" placeholder="{{PGTXT_SIGNUP_CONEMAIL_PLC}}">
            </form>
            <input type="button" value="{{PG_SIGNUP}}" onClick="submit()">
        </div>

        <script type="text/javascript">
            function submit() {
                var responseMessage = document.createElement('span');
                $.post("/api/signup", $("#form").serializeObject(), function(data) {
                    responseMessage.innerHTML = data;
                    $("span").hide();
                    $("#signup").append(responseMessage);
                });
            }
        </script>
    </body>

{{> foot}}
